body {
	background-color: rgb(0,0,0);
}

.good {
	color: rgb(0,200,0);
}

.bad {
	color: rgb(200,0,0);
}

.profile-name {
	font-size: 2em;
}

.font-large {
	font-size: 1.5em;
}

.header-title {
	color: rgb(255,255,255);
}

.message-header {
	border-bottom: 1px #000 solid;
}

.message-header-text {
	font-family: "Monospace";
}

.code-font {
	font-family: "Courier New";
}

.member-card {
	display: inline-block;
	width: 300px;
	min-height: 150px;
	background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-container {
    max-width: 350px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.message-unread {
	font-weight: bold;
}

.content-item {
}

.content-title {
	font-size: 1.4em;
}

.content-byline {
	text-decoration: italic;
	margin-left: 20px;
}

@media (min-width: 1800px) {
	.container {
		width: 1750px;
	}
}

.page-title {
	color: #777;
	font-size: 2em;
}

#admin-nav ul, .panel-body ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

#admin-nav h1 {
	margin: 0;
	padding: 0;
	font-size: 1.25em;
	border-bottom: 1px solid #000;
}

.nav-selected {
	font-weight: bold;
}

.staff-header {
	font-size: 1.25em;
	margin-bottom: 15px;
}

.newmsg-row {
	margin-bottom: 10px;
}

.space-sm {
	padding: 5px;
}

.space-md {
	padding: 15px;
}

.space-lg {
	padding: 25px;
}

.col-header {
	font-weight: bold;
	font-size: 1.2em;
}

.flag {
	height: 0.8em;
	width: auto;
}

.flag-xs { 
	height: 1.2em;
	width: auto;
}

.flag-sm {
	height: 2.2em;
	width: auto;
}

.role-list {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon-sm {
	font-size: 0.60em;
}
	
/*
body {
    font-size: 1em;
    line-height: 1.4;
}

img {
    vertical-align: middle;
}

body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}

.background {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.slideContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.slideContent {
	max-width: 700px;
	position: absolute;
	left: 50%;
	top: 50%;
}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

main {
	overflow-x: hidden;
}

#slide1 .background { background-image:url('/assets/img/bg1.jpg') }
#slide1 .slideContent {
	bottom: 200px;
	top: auto;
}

ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	display: inline;
	margin-right: 20px;
}
*/